/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
}

p{
    line-height: 1.5rem;
    padding: 1.5rem 0;
}

.container {
    width: 100%;
    margin: auto;
}
.row{
    width: 90%;
    margin: auto;
}

:root {
    --rsp-primary: #9792E4;
    --rsp-secondary: #FFFFFF;
    --rsp-heanvenly: #0084FD;
    --rsp-light-heanvenly: #B5DDFF;
    --rsp-special: #FDC15F;
    --rsp-footer: #333333;
}
.col-12{
    width: 100%;
    padding: 1rem 0;
}

.btn {
    border-radius: 2rem;
    border: 0;
}

.btn>a {
    text-decoration: none;
}

/* utilities */


/* debug */

.debug #site_footer {
    background-color: var(--rsp-footer);
    height: 200px;
}

/* mobile first */

/* #region header */

#site_header {
    background-color: var(--rsp-heanvenly);
    min-width: 375px;
    width: 100%;
    margin: auto;
    padding: 1rem 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo,
.menù,
.menù_desk {
    margin: 0 1.5rem;
    display: flex;
    align-items: center;
}

.menù {
    justify-content: end;
}

.menù_desk {
    display: none;
}

/* #region header */


/* #region main */

.card {
    width: 100%;
    background-color: var(--rsp-light-heanvenly);
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-top: 1.5rem;
    border-radius: 25px;
}

.card h2, .card i{
    color: var(--rsp-heanvenly);
    line-height: 1.5rem;
    text-align: center;
    padding: 1rem;
}

.card-image img{
    width: 100%;
    margin: auto;
}
.planning{
    background-color: var(--rsp-primary);
}
.planning>.container{
    padding: 2rem 0;
}
.card-planning img{
    width: 100%;
    margin: auto;
    padding: 4rem 3rem;
}
.card-planning h2, .card-planning p{
    padding: 2rem 2.5rem;
    color: white;
}

.second-card-planning{
    width: 80%;
    margin: auto;
    padding: 1rem;
    background-color: white;
    border-radius: 50px;
}
.second-card-planning{
    text-align: center;
}
.second-card-planning img{
    width: 100%;
    padding: 1rem;
    text-align: center;
}
.second-card-planning i{
    background-color: var(--rsp-primary);
    border-radius: 50%;
    padding: 1rem;
}
.testimonials>.container{
    width: 80%;
    padding: 2rem 0;
    margin: auto;
    text-align: center;
}
.testimonials h2{
    color: var(--rsp-primary);
    padding: 2rem;
}
.card-testimonials{
    background-color: var(--rsp-primary);
    border-radius: 50px;
    padding: 1rem;
    margin: 1rem 0;
}
.card-image-testimonials img, .card-image-about-us img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 2rem;
}
.card-testimonials-text>p, h3{
    color: white;
}
.benefits{
    background-color: var(--rsp-primary);
}
.benefits h2{
    color: white;
    padding: 2rem 1rem;
    text-align: center;
}
.card-benefits{
    background-color: white;
    padding: 2rem;
    border-radius: 25px;
    width: 95%;
    margin: auto;
}
.card-benefits h3{
    color: var(--rsp-primary);
    padding: 1rem 0;
}
.card-benefits div{
    color: var(--rsp-primary);
    padding: 1rem 0;
}
.card-benefits>div{
    font-size: 40px;
    font-weight: bold;
}
.about-us>.container{
    padding: 2rem 2rem;
}
.card-about-us{
    margin-left: -2rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
}
.card-about-us h2{
    color: var(--rsp-primary);
    text-align: left;
    padding-left: 2rem;
}
.banner-bottom{
    background-color: var(--rsp-primary);
    text-align: center;
    color: white;
    padding: 2rem;
}
.banner-bottom h2{
    color: var(--rsp-special);
}
.security{
    font-size: 14px;
    padding: 1rem;
}
.security a{
    color: white;
}

.btn-skills {
    background-color: var(--rsp-heanvenly);
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    margin: 1.5rem;
}

.btn-skills>a, .btn-more>a{
    color: white;
}
.btn-more {
    background-color: var(--rsp-primary);
    padding: 0.5rem 2.5rem;
    font-weight: 700;
    margin: 1rem;
}
.btn-banner{
    background-color: white;
    padding: 1.25rem 3rem;
}
.btn-banner a{
    color: var(--rsp-primary);
}

/* #endregion main */

/* #region footer */

.container-foot{
    color: white;
    padding: 2rem;
    text-align: center;
}
.container-foot a{
    color: var(--rsp-primary);
}


/* #endregion footer */

/* #region query tablet */

/* header tablet */

@media screen and (min-width: 768px) {
    #site_header {
        background-color: var(--rsp-heanvenly);
        min-width: 768px;
        width: 100%;
        padding: 1rem 0.25rem;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menù_desk {
        display: none;
    }

    /* main tablet */

    .container{
        width: 100%;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    div[class^="col-"]{
        padding: 0 1rem;
    }
    .col-4{
        width: calc(100% / 12 * 4);
    }
    .col-6{
        width: calc(100% / 12 * 6);
    }
    .col-8{
        width: calc(100% / 12 * 8);
    }
    .col-12{
        width: 100%;
    }
}

/* #endregion query tablet */

/* #region query desktop */

@media screen and (min-width: 1152px) {
    #site_header {
        background-color: var(--rsp-heanvenly);
        min-width: 1152px;
        max-width: 1440px;
        width: 100%;
        padding: 1rem 0.25rem;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container-nav {
        width: 70%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menù {
        display: none;
    }

    .menù_desk {
        display: block;
    }

    .menù_desk>a {
        padding: 0.5rem;
        text-decoration: none;
        color: var(--rsp-secondary);
    }

    .btn-white {
        padding: 0.5rem;
        background-color: var(--rsp-secondary);
        color: black;
        font-weight: 700;
    }

    .btn-white>a {
        color: black;
    }
}


/* #region query desktop */




/* #endregion header */

/* #region main */



/* #endregion main */

